langgraph
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-community
langchain-pinecone
langchain-text-splitters
langchain-tavily
pinecone
sentence-transformers
beautifulsoup4
python-dotenv

